<div class="page-header">
  <h1><%=t '.title', :default => "About Us" %></h1>
</div>

<p>Here you can see where you can eat at GMU on any campus at any hour. A mobile app is on the way, and so are more features.</p>

<p>We serve you better than the GMU Dining page because we're more accurate and have the biggest list of dining locations; soon to be included are off-campus options as well.</p>

<p>Hit us up if you have experienced an issue, have input, or want to help out: <a href="mailto:gmu.foodfinder.me@gmail.com">gmu.foodfinder.me@gmail.com</a></p>

<p>Cheers!</p>