<div class="page-header">
  <h1><%=t '.title', :default => "About" %></h1>
</div>

<p>Here you can find where you can eat at GMU on any campus at any hour. A mobile app is on the way, and so are more features.</p>
