<h2>This is what the fuck is open right now</h2>

<% @open_locations.each do |location| %>
    <tr>
       <td><%= location %></td>
    </tr>
<% end %>

<p>The current fucking time is: <%= @current_time_as_string %></p>
